@model IndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header
{
    <link href="css/miniMenu.css" rel="stylesheet">
<nav class="navbar navbar-dark fixed-top bg-light flex-md-nowrap p-0">
    <div class="navbar" style="min-width: 280px">

        <ul class="flex-container">
            <li class="flex-item tooltips">
                <div class="user">
                    <i style="font-size: 24px;" class="fas fa-user-circle"></i>
                    <ul>
                        <li><b>User</b></li>
                        <li><a href="#">Online</a></li>
                        <li><a href="#">away</a></li>
                        <li><a href="#">busy</a></li>
                        <li><a href="#">invisible</a></li>
                        <li><a asp-action="Index" asp-controller="Users">My Account</a></li>
                        <li><a asp-action="Lockout" asp-controller="Account">Logout</a></li>
                    </ul>
                </div>


            </li>
            <li class="flex-item tooltips">
                <i style="font-size:24px;" class="fas fa-search"></i>
                <span class="tooltiptext">Search</span>
            </li>
            <li class="flex-item tooltips">
                <a asp-action="Index" asp-controller="Chatrooms" style="font-size:24px; text-decoration: none; color: black" class="fas fa-globe"></a>
                <span class="tooltiptext">Directory</span>
            </li>
            <li class="flex-item tooltips">
                <i style="font-size:24px;" class="fas fa-bars"></i>
                <span class="tooltiptext">View Mode</span>
            </li>
            <li class="flex-item tooltips">
                <i style="font-size:24px;" class="fas fa-sort-alpha-down"></i>
                <span class="tooltiptext">Sort</span>
            </li>
            <li class="flex-item tooltips">
                <a asp-action="Create" asp-controller="Chatrooms" style="font-size:24px; text-decoration: none; color: black" class="far fa-edit"></a>
                <span class="tooltiptext">Create a New Channel</span>
            </li>
        </ul>

    </div>

    <span class="form-control form-control-dark w-100" style="box-shadow: 0 1px 2px 0 rgba(31,35,41,.08)">
        Profil
        <input class="btn btn-primary btn-sm" type="submit" form="ProfileForm" style="float: right; color: white;" value="Save changes" />

    </span>
</nav>
}
@section LeftNav
    {
    <nav class="d-none d-md-block bg-light sidebar" style="min-width: 280px">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" asp-action="Settings" asp-controller="Users" style="color: black">
                        <span data-feather="home"></span>
                        Settings <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Users" class="nav-link" style="color: black">
                        <span data-feather="file"></span>
                        Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Security" asp-controller="Users" style="color: black">
                        <span data-feather="file"></span>
                        Security
                    </a>
                </li>
            </ul>
        </div>
    </nav>
}

<style>
    .nav-link:hover {
        background-color: #BBB;
    }
    .center {
        /*display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25%;
        margin-bottom: 25%;*/
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
  
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
    }

    .flex-item {
        width: 32px;
        height: 32px;
        margin: 3px;
    }
    .tooltips {
        position: relative;
        display: inline-block;
    }

    .tooltips .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
    
       
        position: absolute;
        z-index: 1;
        top: 150%;
        left: 50%;
        margin-left: -60px;
    }

    .tooltips .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }

    .tooltips:hover .tooltiptext {
        visibility: visible;
    }
</style>
<div>
    
    <form class="center" asp-action="Index" id="ProfileForm">
        <fieldset>
            <legend style="margin-bottom: 2.5em;">Profildetails</legend>
            <div>
                <div>
                    <label>Profilbild</label>
                    <div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id"/>
                        <div>
                            <div style="float: left; padding-right: 20px;" class="avatar">
                                <img alt="" id="languageCreateImagePrev" class="avatar-image" src="@Model.Userimage" style="width: 150px;height: 150px; "/>
                            </div>
                        </div>
                        <div style="float: left;">
                            <nav>
                                <a style="width: 48px; height: 40px; background-color: #325c99;" target="_blank" type="button" class="btn btn-secondary" href="https://www.facebook.com/RocketChatApp"><i class="fab fa-facebook-f"></i></a>
                                <a style="width: 48px; height: 40px; background-color: #4c4c4c;" target="_blank" type="button" class="btn btn-secondary" href="https://github.com/RocketChat/Rocket.Chat"><i class="fab fa-github"></i></a>
                                <a style="width: 48px; height: 40px; background-color: #373d47;" target="_blank" type="button" class="btn btn-secondary" href="https://github.com/RocketChat/Rocket.Chat"><i class="fab fa-gitlab"></i></a>
                                <a style="width: 48px; height: 40px; background-color: #dd4b39;" target="_blank" type="button" class="btn btn-secondary" href="https://plus.google.com/+RocketChatApp"><i class="fab fa-google-plus-g"></i></a>
                                <a style="width: 48px; height: 40px; background-color: #1b86bc;" target="_blank" type="button" class="btn btn-secondary" href="https://www.linkedin.com/company/rocket-chat"><i class="fab fa-linkedin-in"></i></a>
                                @*<a style="width: 48px; height: 48px; background-color: de4f4f#;" target="_blank" type="button" class="btn btn-secondary" href="https://github.com/RocketChat/Rocket.Chat"><i class="fab fa-meteor-developer"></i></a>*@
                                <a style="width: 48px; height: 40px; background-color: #02acec;" target="_blank" type="button" class="btn btn-secondary" href="https://twitter.com/RocketChat"><i class="fab fa-twitter"></i></a>

                            </nav>
                            <div>
                                <label>
                                    <span style="margin-top: 25px;">URL für Profilbild verwenden</span>
                                    <input style="width: 25em; height: 40px" name="avatar_url" class="rc-input__element js-avatar-url-input" placeholder="URL für Profilbild verwenden">
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="Userimage" class="control-label"></label>
                                <input id="languageCreateinputeImage" type="hidden" asp-for="Userimage"/>
                                <input type="file" class="form-control" onchange="ImageToBase64(this)"/>
                                @*<img id="languageCreateImagePrev" style="width: 45px; margin: 15px 0 0 0" alt="" />*@
                                <span asp-validation-for="Userimage" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: left; margin-top: 200px;">
                    <table>
                        <tr>
                            <td>Name</td>
                            <td>Benutzername</td>
                        </tr>
                        <tr>
                            <td>
                                <input asp-for="Username" placeholder="Name" style="width: 20em;" type="text" value="@Model.Username">
                            </td>
                            <td>
                                <input style="width: 20em;" type="text" placeholder="Username">
                            </td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td>Neues Passwort</td>
                        </tr>
                        <tr>
                            <td>
                                <input asp-for="Email" placeholder="Email" style="width: 20em;" type="text" value="@Model.Email">
                            </td>
                            <td>
                                <input style="width: 20em;" type="text" placeholder="Bitte geben Sie ein neues passwort ein">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn">Bestätigungsmail erneut versenden</button>
                            </td>
                        </tr>
                        <tr>
                            <td><button class="btn">Von anderen Geräten abmelden</button></td>
                            <td>
                                <button class="btn">mein Konto löschen</button>
                                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                                
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>
    function ImageToBase64(element) {
        var file = element.files[0];
        var reader = new FileReader();
        reader.onloadend = function (evt) {
            $("#languageCreateinputeImage").attr("value", evt.target.result);
            $("#languageCreateImagePrev").attr("src", evt.target.result);
        }
        reader.readAsDataURL(file);
    }

    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
    });
</script>














@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>*@
@*<table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Userimage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Userimage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
