<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SWARocketChat</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/home.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-4.1.0/css/bootstrap.css" />
        <link href="~/js/jquery-ui.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/home.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    </environment>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-4.1.0/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <link href="~/js/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/js/jquery-ui.theme.min.css" rel="stylesheet" />
</head>

<body>
    
        @*<span class="form-control form-control-dark w-100" style="box-shadow: 0 1px 2px 0 rgba(31,35,41,.08)">ControllerName</span>*@
        @if (IsSectionDefined("header")) {
            @RenderSection("header")
        }
        @if (!IsSectionDefined("header")) {
            <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0">
                <a class="navbar col-sm-2 col-md-2 mr-0" href="#">
                    Company name
                </a>
            <span class="form-control form-control-dark w-100" style="box-shadow: 0 1px 2px 0 rgba(31,35,41,.08)">ControllerName</span>
            </nav>
          }
   

    <div class="container-fluid">
        <div class="row">
            @if (IsSectionDefined("LeftNav")) {
                @RenderSection("LeftNav")
            }
            @if (!IsSectionDefined("LeftNav")) {
                <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file"></span>
                                    Orders
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            }
            

            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 main" style="padding-left: 40px; padding-right: 40px">
                @RenderBody()

                <footer></footer>
            </main>
        </div>
    </div>

    @*<environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/popper.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-4.1.0/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
