@model SWARocketChat.Models.ChatroomViewModels.ChannelViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 84px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        right: 25px;
        font-size: 25px;
        margin-left: 50px;
    }
    #main {
        transition: margin-right .5s;
    }
    #ChannelForm {
        transition: margin-right .5s
    }
    .main {
        display: flex;
        flex-direction: column;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    #DatatableChannel_wrapper > div > div > div > div.dataTables_scrollHead
    {
        display:none;
    }
</style>
@section header
{
<div class="form-control form-control-dark w-100" style="box-shadow: 0 1px 2px 0 rgba(31,35,41,.08)">
    @Model.Chatroom.ChatroomName
    <div style="float: right; display: flex;font-size:25px">
        <div onclick="openInfoNav()" class="btn black-tooltip" data-toggle="tooltip" data-placement="bottom" title="Room informations" >
            <i class="fas fa-info-circle"></i>
        </div>
        <div onclick="openSearchNav()" class="btn black-tooltip" data-toggle="tooltip" data-placement="bottom" title="Search in messages">
            <i class="fas fa-search"></i>
        </div>
        <div onclick="openMembersNav()" class="btn black-tooltip" data-toggle="tooltip" data-placement="bottom" title="Members">
            <i class="fas fa-users"></i>
        </div>
        <div onclick="openAddUserNav()" class="btn black-tooltip" data-toggle="tooltip" data-placement="bottom" title="Add a User">
            <i class="fas fa-user-plus"></i>
        </div>
    </div>
</div>
}
<div style="flex-direction: column; flex: 1 1 auto; display: flex; position: relative;flex-grow: 1;">
    <input type="hidden" asp-for="ChatroomId" value="@Model.Chatroom.Id" />
    <input type="hidden" asp-for="UserId" value="@Model.UserId"/>
    <div style="flex-grow: 1;position: relative">

        <table class="table"id="DatatableChannel" style="margin-top:20px ;">
            <thead>
            <tr style="font-size: 15px; color: #9ea2a8">
                <th>
                </th>
            </tr>
            </thead>
            <tbody style="" id="DatatableChannel_Body">
            @if (Model.Chatroom.Messages != null)
            {
                var orderdMessages = Model.Chatroom.Messages.OrderBy(m => m.MessageTime);
                var item = orderdMessages.ToList();
                var length = item.Count();
                for (var i = 0; i < length; i++)
                {
                    <tr>
                        <td style="width: 100%">
                            
                            @if (i > 0)
                            {
                                if ((item[i].MessageTime.Date - item[i - 1].MessageTime).TotalHours >= 24)
                                {
                                    <div style="margin: -25px 0 15px 0; text-align: center;">
                                        <span style="background-color: white; z-index: 2000; padding: 0 30px; ">
                                            @item[i].MessageTime.ToString("d.MMMM yyyy")
                                        </span>
                                    </div>
                                }
                            }
                            @if (i == 0)
                            {
                                <div style="margin: -25px 0 0 0; text-align: center;padding-top: 15px">
                                    <span style="background-color: white; z-index: 2000; padding: 0 30px">
                                        @item[i].MessageTime.ToString("d.MMMM yyyy")
                                    </span>
                                </div>   
                            }
                            
                            @if (item[i].User != null)
                            {
                                if (@item[i].User.UserImage != null)
                                {
                                    <img src="@item[i].User.UserImage" alt="" style="width: 36px; height: 36px" />
                                }
                                <span style="font-size: medium">
                                    @item[i].User.UserName
                                </span>
                            }
                            <span style="font-size: small">
                                @item[i].MessageTime.ToString("HH:mm")
                            </span>
                            <br />
                            @item[i].MessageString

                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group" style="display: flex; margin: 0 20px 30px 20px;min-height: 35px">
        <span asp-validation-for="MessageString" class="text-danger"></span>
        <input value="" placeholder="Message" id="message-content" class="form-control"/>
        <input class="btn btn-primary" style="max-width: 120px;" value="Send" id="messageButton"/>
    </div>



    <div id="roomInfo" class="sidenav" style="border-left: lightgray solid thin;">
        <div style="margin: 0 0 0 20px">
            <div style="display: flex;align-items: center;">
                <a href="javascript:void(0)" class="closebtn" onclick="closeInfoNav()">&times;</a>
                <div style="display: flex; align-items: center; font-size: 20px">
                    <i class="fas fa-info-circle"></i>
                    <span style="margin-left: 10px">Room informations</span>
                </div>
            </div>
            <div style="margin: 120px auto 0 auto; text-align: center">
                <h4>@Model.Chatroom.ChatroomName</h4>
            </div>
            <div style="margin-bottom: 37px">
                <label>Description</label>
                <h6>@Model.Chatroom.ChatroomDesription test</h6>
            </div>
            <div>
                <label>Topic</label>
                <h6>@Model.Chatroom.ChatroomTopic test</h6>
            </div>
            <div style="margin: 300px 0 0 0; display: flex;">
                <button style="width: 35%; margin: 0 10px 0 0;" class="btn btn-outline-dark">
                    <i class="fas fa-pencil-alt" style="margin: 0 10px 0 0"></i>Edit
                </button>
                <button style="width: 30%; margin: 0 10px;" class="btn btn-outline-dark">
                    <i class="far fa-eye-slash" style="margin: 0 10px 0 0"></i>Hide
                </button>
                <button style="width: 35%; margin: 0 20px 0 10px;" class="btn btn-outline-danger">
                    <i class="fas fa-sign-out-alt" style="margin: 0 10px 0 0"></i>Leave
                </button>
            </div>
            <div style="width: 90%; position: absolute; bottom: 30px">
                <button style="display: flex; margin: 0 auto; width: 100%" class="btn btn-danger" asp-action="Delete" asp-controller="Chatrooms" asp-route-id="@Model.ChatroomId">
                    <div style="margin: 0 auto">
                        <i class="fas fa-trash-alt" style="margin: 0 10px 0 0"></i>Delete
                    </div>
                </button>
            </div>
        </div>
    </div>


    <div id="messageSearch" class="sidenav" style="border-left: lightgray solid thin;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeSearchNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    
    <div id="roomMembers" class="sidenav" style="border-left: lightgray solid thin;">
        <div style="margin: 0 0 0 20px">
            <div style="display: flex;align-items: center;">
                <a href="javascript:void(0)" class="closebtn" onclick="closeMembersNav()">&times;</a>
                <div style="display: flex; align-items: center; font-size: 20px">
                    <i class="fas fa-users"></i>
                    <span style="margin-left: 10px">Room members</span>
                </div>
            </div>
            <table class="table" id="DatatableSmall">
                <thead>
                    <tr>
                        <th>test</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Chatroom.ChatroomMembers.UserChatroomMembers.Select(u=>u.User))
                {
                    <tr>
                        <td style="display: flex; margin: 5px 0">
                            <img src="@item.UserImage" alt="" style="width: 23px; height: 23px"/>
                            @item.UserName
                        </td>

                    </tr>
                }
                </tbody>
            </table>


            <div style="width: 90%; position: absolute; bottom: 30px" onclick="openAddUserNav()">
                <button style="display: flex; margin: 0 auto; width: 100%" class="btn btn-primary">
                    <div style="margin: 0 auto">
                        <i class="fas fa-plus" style="margin: 0 10px 0 0"></i>Invite user
                    </div>
                </button>
            </div>
        </div>
    </div>   
</div>
<div id="roomAddUser" class="sidenav" style="border-left: lightgray solid thin;">
    <form asp-action="AddUser" asp-controller="Chatrooms" style="margin: 0 20px 0 20px">
        <input type="hidden" asp-for="ChatroomId" value="@Model.ChatroomId"/>
        <input type="hidden" asp-for="Chatroom" value="@Model.Chatroom"/>
        <input type="hidden" asp-for="MessageString" value="test"/>
        <div style="display: flex;align-items: center;">
            <a href="javascript:void(0)" class="closebtn" onclick="closeAddUserNav()">&times;</a>
            <div style="display: flex; align-items: center; font-size: 20px">
                <i class="fas fa-user-plus"></i>
                <span style="margin-left: 10px">Add Users</span>
            </div>
        </div>
        <div style="margin: 0 0 0 0;display: block">
            <label asp-for="ChatroomMembers" class="col-form-label">Invite Users</label>
            <select class="js-basic-multiple js-data-ajax" multiple="multiple" asp-for="ChatroomMembers" asp-items="@ViewBag.Users" style="min-width: 359px"></select>
        </div>
        <div style="width: 95%; position: absolute; bottom: 30px; display: flex;" onclick="closeAddUserNav()">
            <button style="display: flex; margin: 0 5px 0 0; width: 50%" class="btn btn-outline-secondary">
                <div style="margin: 0 auto">
                    <i class="fas fa-plus" style="margin: 0 10px 0 0"></i>Abort
                </div>
            </button>
            <button style="display: flex; margin: 0 20px 0 5px; width: 50%" class="btn btn-primary">
                <div style="margin: 0 auto">
                    <i class="fas fa-plus" style="margin: 0 10px 0 0"></i>Add Users
                </div>
            </button>
        </div>
    </form>
</div>
<script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
<script>

    var host = "wss://" + window.location.hostname + location.port + "/chat";
    //var connection = new WebSocketManager.Connection(host);
    var connection = new WebSocketManager.Connection("wss://localhost:44338/chat");
    connection.enableLogging = true;

    connection.connectionMethods.onConnected = () => {
        console.log("connected");
    }

    connection.connectionMethods.onDisconnected = () => {
        console.log("disconnected");
    }


    connection.clientMethods["receiveMessage"] = (userName,userImage,messageTime, message) => {
        console.log("Empfing:"+message);
        $('#DatatableChannel_Body').append('<tr> <td> ' +
            '<img src=' + userImage + ' alt="" style="width: 36px; height: 36px" />'+
            '<span style="font-size: medium;margin:0 5px 0 5px">' + userName + '</span>'+
            '<span style="font-size: small">' + messageTime +'</span> <br />'+
            message + '</td> </tr>');
        //$('#message-content').scrollTop($('#message-content').prop('scrollHeight'));
        window.scrollTo(0, document.querySelector(".dataTables_scrollBody").scrollHeight);
    };
    connection.start();
    var myurl = '@(Url.Action("SendMessage", "Chatrooms"))';
    var chatroomid='@Model.ChatroomId';
    var userid='@Model.UserId';
    var $messagecontent = $('#message-content');


    $messagecontent.keyup(function (e) {
        if (e.keyCode === 13) {
            //event.preventDefault();
            var message = $messagecontent.val().trim();
            if (message.length === 0) {
                return false;
            }
            console.log("ajax gesendet1");
            $.ajax({
                url: "https://" + window.location.host + myurl,
                data: {chatroomId:chatroomid,userid:userid,message:message},
                method: 'GET'
            });
            $messagecontent.val('');
        }
        return false;
    });
    $("#messageButton").click(function() {
        var message = $messagecontent.val().trim();
        if (message.length === 0) {
            return false;
        }
        console.log("ajax gesendet2");
        $.ajax({
            url: "https://" + window.location.host + myurl,
            data: {chatroomId:chatroomid,userid:userid,message:message},
            method: 'GET'
        });
        $messagecontent.val('');
    });

    $(document).ready(function () {
        $('.js-basic-multiple').select2();
    });
    function openInfoNav() {
        document.getElementById("roomInfo").style.width = "400px";
        document.getElementById("main").style.marginRight = "400px";
        document.getElementById("messageSearch").style.width = "0";
        document.getElementById("roomMembers").style.width = "0";
        document.getElementById("roomAddUser").style.width = "0";
    }
    function closeInfoNav() {
        document.getElementById("main").style.marginRight = "0";
        document.getElementById("roomInfo").style.width = "0";
    }


    function openSearchNav() {
        document.getElementById("messageSearch").style.width = "400px";
        document.getElementById("main").style.marginRight = "400px";
        document.getElementById("roomMembers").style.width = "0";
        document.getElementById("roomAddUser").style.width = "0";
        document.getElementById("roomInfo").style.width = "0";
    }
    function closeSearchNav() {
        document.getElementById("main").style.marginRight = "0";
        document.getElementById("messageSearch").style.width = "0";
    }


    function openMembersNav() {
        document.getElementById("roomMembers").style.width = "400px";
        document.getElementById("main").style.marginRight = "400px";
        document.getElementById("roomAddUser").style.width = "0";
        document.getElementById("roomInfo").style.width = "0";
        document.getElementById("messageSearch").style.width = "0";
    }

    function closeMembersNav() {
        document.getElementById("main").style.marginRight = "0";
        document.getElementById("roomMembers").style.width = "0";
    }


    function openAddUserNav() {
        document.getElementById("roomAddUser").style.width = "400px";
        document.getElementById("main").style.marginRight = "400px";
        document.getElementById("roomMembers").style.width = "0";
        document.getElementById("roomInfo").style.width = "0";
        document.getElementById("messageSearch").style.width = "0";
    }

    function closeAddUserNav() {
        document.getElementById("main").style.marginRight = "0";
        document.getElementById("roomAddUser").style.width = "0";
    }

</script>