@model SWARocketChat.Models.ChatroomViewModels.ChannelViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header
{
    <span class="form-control form-control-dark w-100" style="box-shadow: 0 1px 2px 0 rgba(31,35,41,.08)">
        @Model.ChatroomName
        <a asp-action="Create" class="btn btn-primary btn-sm" role="button" style="float: right"> <i class="fas fa-plus"></i></a>
    </span>
}
<form asp-action="MessageCreate" asp-controller="Chatrooms" style="width:70%; bottom: 0; position: fixed;">
    <table class="table" style="height: 80%">
        <thead>
            <tr style="font-size: 15px;color: #9ea2a8"></tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Chatroom.Messages)
            {
                <tr class="gotoroom" style="cursor: pointer">
                    <td style="width: 100%">
                        @item.User @item.User.UserImage @item.MessageTime.ToString("dd.MM.yyyy")
                        <br />
                        @item.MessageString
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group" style="display: flex;">
        <input asp-for="MessageString" value="" placeholder="Message" class="form-control"/>
        <span asp-validation-for="MessageString" class="text-danger"></span>
        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>